.container-fluid
  %h1
    Hello world
    %p pupukas
  %i.fas.fa-address-book
  = link_to "Privacy Page", privacy_policy_path, class: "btn btn-lg btn-warning"
  = link_to privacy_policy_path, class: "btn btn-lg btn-warning" do
    %i.fas.fa-file-word
    Privacy Page
